### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
/bootstrap/ssr
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
/public/build

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

/public/manifest.json
/public/service-worker.js

storage/*.key
/storage/pail
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json
/.fleet
/.idea
.phpstorm.meta.php
/.nova
/.zed
_ide_helper.php
_ide_helper_models.php
.DS_Store
compose.yml

repomix-output.txt
repomix-output.xml
repomix-output.md
